<html>
<head>
	<title>Strona Główna</title>

	<!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/pracazaliczeniowa/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- style CSS -->
    <link href="{{ asset('bundles/pracazaliczeniowa/css/style.css') }}" rel="stylesheet">
	
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			{# <a href="/" class="navbar-brand"><img src="{{ asset('bundles/pracazaliczeniowa/images/logo_top.png') }}" alt="apukmovies.com!"/></a> #}
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" action="" method="post"{{ form_enctype(login) }}>
				  <div class="form-group">
				    <div class="col-sm-2" id="login">
				    	{{ form_widget(login.login, {'attr': {'class': 'form-control', 'id': 'exampleInputEmail3', 'placeholder': 'Login...'} }) }}
						{{ form_errors(login.login)}}
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-2" id="pass">
				    	{{ form_widget(login.pass, {'attr': {'class': 'form-control', 'id': 'exampleInputPassword3', 'placeholder': 'Hasło...'} }) }}
						{{ form_errors(login.pass)}}
				    </div>
				  </div>

				  	{{form_widget(login.save, {'attr': {'class': 'btn btn-default', 'id': 'bt_zaloguj'}})}}

				</form>
			</div> 
		</div>
	</nav>
	<div class="jumbotron">
		<div class="container">
			<img src="{{ asset('bundles/pracazaliczeniowa/images/logo.png') }}" alt="logo">
		</div>
	</div>
	<div id="sep"></div>


{% block content %}
{% endblock %}
	
</body>
</html>